*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F5F5F5;
}
.safe{
    width: 1120px;
    margin: 0 auto;
}
.marginTop25{
    margin-top: 25px;
}
.marginBottom25{
    margin-bottom: 25px;
}
.floatL{
    float: left;
}
.floatR{
    float: right;
}
.clear{
    clear: both;
}
.overText{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

/*---------------视频界面----------------*/







#clearFloat,.clear{
    clear: left;
}
