*{
    margin: 0;
    padding: 0;
}
body{
    /*background-color: #e8e8e8;*/
}
.safe{
    width: 1120px;
    margin: 0 auto;
}
.marginTop25{
    margin-top: 25px;
}
.marginBottom25{
    margin-bottom: 25px;
}
.floatL{
    float: left;
}
.floatR{
    float: right;
}
.clear{
    clear: both;
}
.overText{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
/*多行文本隐藏*/
.overTextLines{position: relative; line-height: 20px; max-height: 40px;overflow: hidden;}
.overTextLines::after{
    content: "..."; position: absolute; bottom: 0; right: 0; padding-left: 40px;
    background: -webkit-linear-gradient(left, transparent, #fff 55%);
    background: -o-linear-gradient(right, transparent, #fff 55%);
    background: -moz-linear-gradient(right, transparent, #fff 55%);
    background: linear-gradient(to right, transparent, #fff 55%);
}
.v_head{
    width: 1px;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}
.v_body{
    display: inline-block;
    vertical-align: middle;
}
/*---------------视频界面----------------*/
.playfm{
    height: 550px;
    background-color: rgba(31, 31, 31, 1);
    margin-bottom: 20px;
}
/*左侧课程列表*/
.playfmL{
    width: 60px;
    float: left;
    height: 100%;
    position: relative;
}
.playfmLBox{
    position: relative;
    width: 100%;
    height: 450px;
    margin-top: 20px;
    overflow: hidden;
}
.playfmLong{
    position: relative;
    width: 60px;
    top: 0;
    height: auto;
}
.playLast,.playNext{
    position: absolute;
    width: 100%;
    height: 25px;
    cursor: pointer;
}
.playLast>img,.playNext>img{
    padding-left: 21px;
}
.playLast{
    top: 0;
}
.playNext{
    bottom: 0;
}
.cNameSpan{
    width: 30px;
    height: 30px;
    margin: 15px;
    border-radius: 30px;
    background-color: #646464;
    text-align: center;
    line-height: 30px;
    color: #979797;
    cursor: pointer;
}
.hovercNameSpan{
    background-color: rgba(231, 68, 52, 1);
    color: white;
}
.courseNameTips{
    width: 215px;
    height: 52px;
    position: absolute;
    left: 60px;
    top: 100px;
    z-index: 10;
    display: none;
    /*display: table;*/
}
/*中间视频播放界面*/
.playfmM{
    width: 1000px;
    height: 100%;
    float: left;
}
.playfmMT{
    width: 100%;
    height: 460px;
    background-color: rgba(204, 204, 204, 1);
}
.playfmMB{
    width: 100%;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
}

.cnameTitle{
    width: 520px;
    font-size: 18px;
    color: #A1A1A1;
    margin-left: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.playfmMBR{
    width: 212px;
    height: 100%;
}
.playfmMBR>span{
    float: left;
    border-right: 1px solid #8e8e8e;
    width: 70px;
    font-size: 14px;
    color: #8E8E8E;
    display: block;
    margin: 17px 0;
    height: 16px;
    text-align: center;
    line-height: 14px;
    cursor: pointer;
}
.playfmMBR>span>img{
    vertical-align: middle;display: inline-block;
    margin-top: -2px;
}

/*右边教师简介*/
.playfmR{
    width: 285px;
    height: 100%;
    float: right;
}
.playRsafe{
    width: 250px;
    height: 100%;
    margin: 0 auto;
}
.teaImg{
    width: 75px;
    height: 75px;
    border-radius: 75px;
    display: block;
    margin: 20px auto 0;
}
.teaName{
    font-weight: 700;
    color: #FFA311;
    font-size: 14px;
    margin: 10px auto;
    text-align: center;
}
.teaIntro{
    width: 220px;
    height: 112px;
    line-height: 16px;
    overflow: hidden;
    text-indent: 24px;
    font-size: 12px;
    margin: 0 auto;
    color: #BCBCBC;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.teaAskT{
    font-weight: 700;
    font-size: 16px;
    color: #A1A1A1;
    text-align: center;
    overflow: hidden;
    margin-top: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.teaAskT>img{
    vertical-align: middle;
}
.teaDiv{
    width: 100%;
    height: 50px;
    margin-top: 20px;
}
.teaDiv>img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
}
.teaDiv>div{
    float: left;
    width: 85px;
    height: 100%;
}
.teaDiv>div>p{
    width: 100%;
    margin-top: 6px;
}
.teaDiv>a{
    text-decoration: none;
    display: block;
    float: right;
    width: 100px;
    height: 35px;
    background-color: rgba(38, 38, 38, 1);
    border: 1px solid rgba(255, 163, 17, 1);
    border-radius: 5px;
    font-size: 14px;
    color: #FFA311;
    margin: 7px 0;
    cursor: pointer;
    text-align: center;
    line-height: 35px;
}
.teaDiv>a:hover,.teaDiv>a:focus{
    color: #FFA311;
}
/*---------------------左下角--------------------*/
.courseLeft{
    width: 100%;
    float: left;
    height: auto;
}
.tabs{
    width: 100%;
    overflow: hidden;
}
.coursetab{
    width: 75px;
    height: 33px;
    background: inherit;
    color: #999999;
    background-color: #f2f2f2;
    border: none;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    float: left;
    font-size: 13px;
    line-height: 33px;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.hoverTab{
    color: white;
    background-color: rgba(231, 68, 52, 1);
}

#videoIframe{
    background-color: rgba(255, 255, 255, 1);
    border: none;
    min-height: 820px;
    border-radius: 5px;
    -moz-box-shadow: 1px 5px 10px rgba(215, 215, 215, 0.349019607843137);
    -webkit-box-shadow: 1px 5px 10px rgba(215, 215, 215, 0.349019607843137);
    box-shadow: 1px 5px 10px rgba(215, 215, 215, 0.349019607843137);
}
/*---------------右边-------------*/
.courseRighht{
    width: 280px;
    height: auto;
    float: right;
    border-radius: 5px;
    -moz-box-shadow: 1px 5px 10px rgba(215, 215, 215, 0.349019607843137);
    -webkit-box-shadow: 1px 5px 10px rgba(215, 215, 215, 0.349019607843137);
    box-shadow: 1px 5px 10px rgba(215, 215, 215, 0.349019607843137);
}
/*--------------在线-学员-------------*/
.onlineStudent{
    width: 280px;
    height: 475px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 5px;
    -moz-box-shadow: 1px 5px 10px rgba(215, 215, 215, 0.349019607843137);
    -webkit-box-shadow: 1px 5px 10px rgba(215, 215, 215, 0.349019607843137);
    box-shadow: 1px 5px 10px rgba(215, 215, 215, 0.349019607843137);
    overflow: hidden;
}
.divTitle{
    width: 253px;
    margin: 15px auto 5px;
    height: 35px;
    position: relative;
}
.titleBottom{
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(231, 231, 231, 1);
}
.titleRight{
    width: 10px;
    position: absolute;
    right: 0;
    height: 22px;
    border-right: 9px solid rgba(218, 58, 55, 1);
    float: right;
    top: 3px;
}
.titleText{
    font-weight: 700;
    font-style: normal;
    color: #4C4C4C;
    font-size: 18px;
    position: absolute;
    right: 19px;
}
.rankBox{
    position: relative;
    width: 254px;
    height: 390px;
    overflow: hidden;
    margin: 0 auto;
}
.rankBanner{
    width: 1016px;
    height: 100%;
    position: absolute;
    left: 0;
}
.rankLong{
    width: 254px;
    height: 390px;
    float: left;
}
.rankLong>div{
    width: 100%;
    height: 65px;
    background-repeat: no-repeat;
    background-position: top;
}
.rankDiv>img{
    width: 45px;
    height: 45px;
    display: block;
    float: left;
    margin: 10px 30px 10px 5px;
}
.rankUser{
    float: left;
    margin: 10px 0;
}
.ranking{
    width: 20px;
    height: 20px;
    background-color: rgba(218, 58, 55, 1);
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    float: right;
    margin: 22px 0;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.rankBottom{
    width: 254px;
    height: 34px;
    margin: 0 auto;
    background-position: top;
    background-repeat: no-repeat;
}
.rankBottom>img{
    margin-top: 11px;
}
/*---------------最新活动--------------*/
.newActivity{
    width: 280px;
    height: 288px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    -moz-box-shadow: 1px 5px 10px rgba(215, 215, 215, 0.349019607843137);
    -webkit-box-shadow: 1px 5px 10px rgba(215, 215, 215, 0.349019607843137);
    box-shadow: 1px 5px 10px rgba(215, 215, 215, 0.349019607843137);
    overflow: hidden;
    margin-top: 20px;
}
.activityDiv{
    width: 253px;
    height: 220px;
    margin-top: 10px;
    margin: 0 auto;
    cursor: pointer;
}
.activityTop{
    width: 100%;
    height: 166px;
    position: relative;
    overflow: hidden;
}
.activityTop>img{
    width: 253px;
    height: 166px;
}
.activityDescribe{
    width: 100%;
    height: 60px;
    position: absolute;
    top: 136px;
    background-color: rgba(0,0,0,0.6);
}
.activityDescribe>p{
    color: white;
    font-size: 14px;
    line-height: 30px;
    width: 230px;
    margin: 0 auto;
}
.activityInfo{
    width: 100%;
}
.activityInfo>p{
    margin-top: 5px;
    font-size: 12px;
    color: #666666;
    width: 100%;
}
.activityInfo>p>img{
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-right: 10px;
}
/*---------------最新活动--------------*/
/*.video63::-internal-media-controls-download-button {*/
/*    display:none;*/
/*}*/


/*.video63::-webkit-media-controls-enclosure {*/
/*    overflow:hidden;*/
/*}*/

/*.video63::-webkit-media-controls-panel {*/
/*    width: calc(100% + 30px);*/
/*}*/

::-webkit-input-placeholder { /* WebKit browsers */
    color: #A9A9A9;
}
.navbar .nav > li .dropdown-menu {
    margin: 0;
}
.navbar .nav > li:hover .dropdown-menu {
    display: block;
}
ul.dropdown-menu {
    top:30px;
    left:-112px;
    background:#fff;
    border: none;
}
.dropdown-menu > li > a {
    padding: 7px 20px;
    color: gray;
    letter-spacing: 1px;
}
.dropdown-menu > li > a:hover {
    background-color:#F0F0F0;
}