.layui-table th{
    text-align: center;
}
.layui-table{
    text-align: center;
}
.layui-form-select dl {
    max-height:200px;
}
#lay{
    font-size: 18px;
}

.layui-form-select dl {
    max-height:200px;
}

.layui-table-page {
    text-align: center;
}

.layui-table img{
    max-width: 200px;
}

.layui-table img{
    max-width: 200px;
}
