<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.mapper.LogMapper">
        <select id="findLogOnPage" parameterType="java.util.Map" resultMap="resultsHash">
                select b.*, u.bUserName from backLog b, backUser u where b.bUserId = u.bUserId and bUserName like concat('%',#{bUserName},'%')
                <if test="startTime!=null">
                        and operaTime >= #{startTime}
                </if>
                <if test="endTime!=null">
                        and operaTime &lt;= #{endTime}
                </if>
                order by operaTime desc limit #{offset}, #{limit}
        </select>
        <resultMap id="resultsHash" type="com.cykj.entity.BackLog">
                <id property="bLogId" column="bLogId"></id>
                <result property="bUserId" column="bUserId"></result>
                <result property="operaTime" column="operaTime"></result>
                <result property="matter" column="matter"></result>
                <association property="backUser" column="bUserId" javaType="com.cykj.entity.BackUser">
                        <id property="bUserId" column="bUserId"></id>
                        <result property="bUserName" column="bUserName"></result>
                </association>

        </resultMap>

        <insert id="addLog">
               INSERT INTO backLog( bUserId, operatime, matter)VALUES (#{bUserId},now(),#{matter});
        </insert>
</mapper>
