<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.mapper.BackUserMapper">

    <select id="findCompany" resultType="com.cykj.entity.BackUser">
        select compName,city,finanStage,scale,product,homePage,logo from backUser;
    </select>
</mapper>