<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.mapper.CerUserMapper">

    <select id="findceruserlist" resultMap="cerusermap">
          select *,f.fieldName name,ce.imgUrl url from cerUser u join cerRecord c on c.cerRecordId=u.cerId join backUser b on u.bUserID=b.bUserID
         join field f on f.fieldId=c.fileId
           join certificate ce on ce.fieldId=f.fieldId
           where u.userId= #{userId}
    </select>
    <resultMap id="cerusermap" type="com.cykj.entity.CerUser">
        <id property="cuid" column="cuid"></id>
        <result property="cerId" column="cerId"></result>
        <result property="gainTime" column="gainTime"></result>
        <result property="bUserId" column="bUserId"></result>
        <result property="userId" column="userId"></result>
        <result property="name" column="name"></result>
        <result property="url" column="url"></result>
        <association property="cerRecord" column="cerId" javaType="com.cykj.entity.CerRecord">
            <id property="cerRecordId" column="cerRecordId"></id>
            <result property="userName" column="userName"></result>
            <result property="trueName" column="trueName"></result>
            <result property="idNumber" column="idNumber"></result>
            <result property="stateId" column="stateId"></result>
            <result property="beginTime" column="beginTime"></result>
            <result property="turnoverTime" column="turnoverTime"></result>
            <result property="cerTestScore" column="cerTestScore"></result>
            <result property="cerJudgeScore" column="cerJudgeScore"></result>
            <result property="cerFinalScore" column="cerFinalScore"></result>
            <result property="cerPhone" column="cerPhone"></result>
        </association>
        <association property="user" column="userId" javaType="com.cykj.entity.UserInfo">
            <id property="userId" column="userId"></id>
            <result property="userName" column="userName"></result>
        </association>
        <association property="backUser" column="bUserId" javaType="com.cykj.entity.BackUser">
            <id property="bUserId" column="bUserId"></id>
            <result property="bUserName" column="bUserName"></result>
        </association>

    </resultMap>

</mapper>