<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.mapper.PostPositionMapper">
    <insert id="addPostPosition" parameterType="com.cykj.entity.PostPosition">
        insert into postPosition (companyID, postName, workNature, postID, department, maxSalary, minSalary, workCity, workYear, education, jobBenefits, jobDescription, postStandID, recruitsNum, province, detailAddress, contact, contactEmail) VALUES
        (#{companyId},#{postName},#{workNature},#{postId},#{department},#{maxSalary},#{minSalary},#{workCity},#{workYear},#{education},#{jobBenefits},#{jobDescription},6,#{recruitsNum},#{province},#{detailAddress},#{contact},#{contactEmail})
    </insert>

    <select id="findPosition" parameterType="java.util.Map" resultType="com.cykj.entity.PostPosition">
        select * from postPosition where companyId = #{compID} and postStandId = #{standID}

        <if test="beginTime!=null">
            and releaseTime >= #{beginTime}
        </if>

        <if test="endTime!=null">
            and releaseTime &lt;= #{endTime}
        </if>

        <if test="postName!=null">
            and postName like #{postName}
        </if>

        order by releaseTime desc limit #{offset}, #{limit}
    </select>

    <select id="findPositionNum" parameterType="java.util.Map" resultType="int">
        select count(*) from postPosition where companyId = #{compID} and postStandId = #{standID}

        <if test="beginTime!=null">
            and releaseTime >= #{beginTime}
        </if>

        <if test="endTime!=null">
            and releaseTime &lt;= #{endTime}
        </if>

        <if test="educationId!=null">
            and educationId like #{educationId}
        </if>

    </select>

    <update id="changePostPositionStand" parameterType="java.util.Map">
        update postPosition set postStandID = #{standID} where companyID = #{compID} and pPostID = #{pPostID}
    </update>


</mapper>
