<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.mapper.TalentMapper">
    <select id="findUnviTalentOnPage" parameterType="java.util.Map" resultMap="results">
        select t.*,s.recommendTime,s.compAndTalId from talent t, compAndtalent s where t.talentID = s.talent and s.stand=16 and s.compID = #{compID}
        <if test="beginTime!=null">
            and recommendTime >= #{beginTime}
        </if>
        <if test="endTime!=null">
            and recommendTime &lt;= #{endTime}
        </if>
        <if test="talentName!=null">
            and talentName like #{talentName}
        </if>
        <if test="school!=null">
            and school like #{school}
        </if>
        <if test="profession!=null">
            and profession like #{profession}
        </if>
        order by recommendTime desc limit #{offset}, #{limit}
    </select>

    <resultMap id="results" type="com.cykj.entity.Talent">
        <id property="talentId" column="talentId"></id>
        <result property="talentName" column="talentName"></result>
        <result property="school" column="school"></result>
        <result property="birthday" column="birthday"></result>
        <result property="contactInfo" column="contactInfo"></result>
        <result property="profession" column="profession"></result>
        <result property="politicalStatus" column="politicalStatus"></result>
        <result property="workExp" column="workExp"></result>
        <result property="jobPlan" column="jobPlan"></result>
        <result property="selfEva" column="selfEva"></result>
        <result property="education" column="education"></result>
        <result property="entryTime" column="entryTime"></result>

        <association property="compAndtalent" column="talent" javaType="com.cykj.entity.CompAndtalent">
            <id property="compAndTalId" column="compAndTalId"></id>
            <result property="recommendTime" column="recommendTime"></result>
            <result property="compAndTalId" column="compAndTalId"></result>
        </association>
    </resultMap>

    <select id="findUnviTalentOnPageNum" parameterType="java.util.Map" resultType="int">
        select count(*) from talent t, compAndtalent s where t.talentID = s.talent and s.stand=16 and s.compID = #{compID}
        <if test="beginTime!=null">
            and recommendTime >= #{beginTime}
        </if>
        <if test="endTime!=null">
            and recommendTime &lt;= #{endTime}
        </if>
        <if test="talentName!=null">
            and talentName like #{talentName}
        </if>
        <if test="school!=null">
            and school like #{school}
        </if>
        <if test="profession!=null">
            and profession like #{profession}
        </if>
    </select>

</mapper>
