<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.mapper.TalentMapper">
    <select id="findUnviTalentOnPage" parameterType="java.util.Map" resultMap="results">
        select t.*,s.recommendTime,s.compAndTalId from talent t, compAndtalent s where t.talentID = s.talent and s.stand=16 and s.compID = #{compID}
        <if test="beginTime!=null">
            and recommendTime >= #{beginTime}
        </if>
        <if test="endTime!=null">
            and recommendTime &lt;= #{endTime}
        </if>
        <if test="talentName!=null">
            and talentName like #{talentName}
        </if>
        <if test="school!=null">
            and school like #{school}
        </if>
        <if test="profession!=null">
            and profession like #{profession}
        </if>
        order by recommendTime desc limit #{offset}, #{limit}
    </select>

    <resultMap id="results" type="com.cykj.entity.Talent">
        <id property="talentId" column="talentId"></id>
        <result property="talentName" column="talentName"></result>
        <result property="school" column="school"></result>
        <result property="birthday" column="birthday"></result>
        <result property="contactInfo" column="contactInfo"></result>
        <result property="profession" column="profession"></result>
        <result property="politicalStatus" column="politicalStatus"></result>
        <result property="workExp" column="workExp"></result>
        <result property="jobPlan" column="jobPlan"></result>
        <result property="selfEva" column="selfEva"></result>
        <result property="education" column="education"></result>
        <result property="entryTime" column="entryTime"></result>
        <result property="address" column="address"></result>
        <result property="certificate" column="certificate"></result>

        <association property="compAndtalent" column="talent" javaType="com.cykj.entity.CompAndtalent">
            <id property="compAndTalId" column="compAndTalId"></id>
            <result property="recommendTime" column="recommendTime"></result>
            <result property="compAndTalId" column="compAndTalId"></result>
        </association>
    </resultMap>

    <select id="findUnviTalentOnPageNum" parameterType="java.util.Map" resultType="int">
        select count(*) from talent t, compAndtalent s where t.talentID = s.talent and s.stand=16 and s.compID = #{compID}
        <if test="beginTime!=null">
            and recommendTime >= #{beginTime}
        </if>
        <if test="endTime!=null">
            and recommendTime &lt;= #{endTime}
        </if>
        <if test="talentName!=null">
            and talentName like #{talentName}
        </if>
        <if test="school!=null">
            and school like #{school}
        </if>
        <if test="profession!=null">
            and profession like #{profession}
        </if>
    </select>

    <select id="findTalent" parameterType="java.util.HashMap"  resultType="com.cykj.entity.Talent">
        select * from talent where 1=1
        <if test="school!=null">and school like concat('%',#{school},'%')</if>
        <if test="profession!=null">and profession like concat('%',#{profession},'%')</if>
        <if test="beginTime!=null">and entryTime >= #{beginTime} </if>
        <if test="endTime!=null">and entryTime &lt;=  #{endTime} </if>
        limit #{limit} offset #{offset}
    </select>
    <select id="findRecords" parameterType="java.util.HashMap" resultType="int">
        select count(*) from talent where 1=1
        <if test="school!=null">and school like concat('%',#{school},'%')</if>
        <if test="profession!=null">and profession like concat('%',#{profession},'%')</if>
        <if test="beginTime!=null">and entryTime >= #{beginTime} </if>
        <if test="endTime!=null">and entryTime &lt;=  #{endTime} </if>
    </select>
    <select id="findPosition" parameterType="java.util.HashMap"  resultMap="result">
        select  p.companyID,p.releaseTime, b.compName,p2.postName,i.industryName from postPosition p ,backUser b, position p2,industry i,depart d
        where p.companyID=b.bUserID and p.postID=p2.postID and d.departID=p2.departID and i.industryID=d.industryID and p.postStandID=6
        <if test="industryName!=null">and i.industryName like concat('%',#{industryName},'%')</if>
        <if test="postName!=null">and p2.postName like concat('%',#{postName},'%')</if>
        <if test="companyName!=null">and b.compName like concat('%',#{companyName},'%')</if>
        order by p.releaseTime desc limit #{limit} offset #{offset}
    </select>
    <resultMap id="result" type="com.cykj.entity.Positions">
        <result property="companyID" column="companyID"></result>
        <result property="releaseTime" column="releaseTime"></result>
        <result property="compName" column="compName"></result>
        <result property="postName" column="postName"></result>
        <result property="industryName" column="industryName"></result>
    </resultMap>
    <select id="findPositionRecords" parameterType="java.util.HashMap" resultType="int">
        select count(*) from  postPosition p ,backUser b, position p2,industry i,depart d
        where p.companyID=b.bUserID and p.postID=p2.postID and d.departID=p2.departID and i.industryID=d.industryID and p.postStandID=6
        <if test="industryName!=null">and i.industryName like concat('%',#{industryName},'%')</if>
        <if test="postName!=null">and p2.postName like concat('%',#{postName},'%')</if>
        <if test="companyName!=null">and b.compName like concat('%',#{companyName},'%')</if>
    </select>
    <select id="selectPosition" parameterType="java.util.HashMap"  resultMap="result1">
        select p.postID,p.postName,d.departName,i.industryName from position p,depart d,industry i where i.industryID=d.industryID and d.departID=p.departID
        <if test="industryName!=null">and i.industryName like concat('%',#{industryName},'%')</if>
        <if test="postName!=null">and p.postName like concat('%',#{postName},'%')</if>
        <if test="departName!=null">and d.departName like concat('%',#{departName},'%')</if>
        limit #{limit} offset #{offset}
    </select>
    <resultMap id="result1" type="com.cykj.entity.Positions">
        <result property="postID" column="postID"></result>
        <result property="postName" column="postName"></result>
        <result property="departName" column="departName"></result>
        <result property="industryName" column="industryName"></result>
    </resultMap>
    <select id="selectPositionRecords" parameterType="java.util.HashMap" resultType="int">
        select count(*) from position p,depart d,industry i where i.industryID=d.industryID and d.departID=p.departID
        <if test="industryName!=null">and i.industryName like concat('%',#{industryName},'%')</if>
        <if test="postName!=null">and p.postName like concat('%',#{postName},'%')</if>
        <if test="departName!=null">and d.departName like concat('%',#{departName},'%')</if>
    </select>
    <insert id="addTalent" parameterType="com.cykj.entity.Talent" keyProperty="talentId" useGeneratedKeys="true">
          insert into talent(talentName,school,birthday,profession,politicalStatus,education,contactInfo,address,workExp,certificate,selfEva)
          values (#{talentName},#{school},#{birthday},#{profession},#{politicalStatus},
          #{education},#{contactInfo},#{address},#{workExp},#{certificate},#{selfEva})
        </insert>
    <select id="selectTalent" parameterType="java.lang.String" resultType="com.cykj.entity.Talent">
            select * from talent where  contactInfo =  #{contactInfo}
        </select>


    <select id="findTalentByID" resultType="com.cykj.entity.Talent">
        select * from talent where talentID = #{talentID}
    </select>

    <insert id="addCompAndtalent" parameterType="com.cykj.entity.CompAndtalent" >
          insert into compAndtalent (talent,compID,stand) values (#{c},#{companyID},16)
        </insert>
    <select id="selectCompAndtalent" parameterType="java.util.HashMap" resultType="com.cykj.entity.CompAndtalent">
            select * from compAndtalent where talent = #{c} and compID = #{companyID}
        </select>
    <insert id="addPosition" parameterType="com.cykj.entity.Position" >
          insert into position (postName,departID) values (#{postName},#{departId})
        </insert>
    <select id="lookPosition" parameterType="java.util.HashMap" resultType="com.cykj.entity.Position">
            select * from position where postName = #{postName}
        </select>
    <insert id="addDepart" parameterType="com.cykj.entity.Depart" >
          insert into depart (departName,industryID) values (#{departName},#{industryId})
        </insert>
    <select id="lookDepart" parameterType="java.util.HashMap" resultType="com.cykj.entity.Depart">
            select * from depart where departName = #{departName}
        </select>
    <insert id="addIndustry" parameterType="com.cykj.entity.Industry" >
          insert into industry (industryName) values (#{industryName})
        </insert>
    <select id="lookIndustry" parameterType="java.util.HashMap" resultType="com.cykj.entity.Industry">
            select * from industry where industryName = #{industryName}
        </select>
    <update id="changeSchoolInfo" parameterType="java.util.Map">
        update backUser
        <set>
            <if test="compName!=null">
                compName = #{compName},
            </if>
            <if test="bUserName!=null">
                bUserName = #{bUserName},
            </if>
            <if test="contactInfo!=null">
                contactInfo = #{contactInfo},
            </if>
            <if test="infoIntr!=null">
                infoIntr = #{infoIntr},
            </if>
            <if test="email!=null">
                email = #{email},
            </if>
            <if test="address!=null">
                address = #{address},
            </if>
            <if test="coreValue!=null">
                coreValue = #{coreValue},
            </if>
        </set>
        where bUserID= #{schoolID}
    </update>
    <update id="changePosition" parameterType="java.util.Map">
        update position set postName = #{postName} where postID= #{postID}
    </update>
    <select id="findShoolByID" parameterType="int" resultType="com.cykj.entity.BackUser">
        select b.bUserName,b.contactInfo,b.infoIntr,b.email,b.address,b.compName,b.coreValue,b.logo from backUser b where b.bUserID=#{i}
    </select>

</mapper>
