<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.mapper.TopicMapper">
    <select id="selectTopicsByUnitId" parameterType="java.lang.Long" resultType="com.cykj.entity.Topic">
        select topicId,topicDescribe,optionA,optionB,optionC,optionD,rightKey from topic where unitId=#{unitId} order by topicId
    </select>
</mapper>