<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.mapper.UserInfoMapper">

    <select id="log" parameterType="java.util.HashMap" resultMap="userRes">
        select u.*,p.* from userInfo u INNER JOIN parameter p ON u.accStandID = p.paramId where account = #{account} and pwd = #{pwd}
    </select>

    <select id="mesLog" parameterType="java.util.HashMap" resultMap="userRes">
        select u.*,p.* from userInfo u INNER JOIN parameter p ON u.accStandID = p.paramId where telephone = #{phone}
    </select>

    <select id="adminLog" parameterType="java.util.HashMap" resultMap="adminRes">
        select b.*,p.* from backUser b INNER JOIN parameter p ON b.stateId = p.paramId where account = #{account} and pwd = #{pwd}
    </select>

    <select id="isRepeat" parameterType="java.lang.String" resultType="com.cykj.entity.UserInfo">
        select * from userInfo where account = #{account}
    </select>
    <insert id="register" parameterType="com.cykj.entity.UserInfo" keyProperty="userId" useGeneratedKeys="true">
        insert into userInfo(userName,account,pwd,telephone,address) values (#{userName},#{account},
        #{pwd},#{telephone},#{address})
    </insert>

<resultMap id="userRes" type="com.cykj.entity.UserInfo">
    <id property="userId" column="userId"></id>
    <result property="userName" column="userName"></result>
    <result property="account" column="account"></result>
    <result property="pwd" column="pwd"></result>
    <result property="telephone" column="telephone"></result>
    <result property="accStandId" column="accStandId"></result>
    <result property="headImgUrl" column="headImgUrl"></result>
    <result property="address" column="address"></result>
    <result property="isOpen" column="isOpen"></result>
    <result property="regTime" column="regTime"></result>
    <association property="states"  javaType="com.cykj.entity.Parameter">
        <id property="paramId" column="paramId"></id>
        <result property="paramName" column="paramName"></result>
        <result property="paramType" column="paramType"></result>
    </association>
</resultMap>

    <resultMap id="adminRes" type="com.cykj.entity.BackUser">
        <id property="bUserId" column="bUserID"></id>
        <result property="bUserName" column="bUserName"></result>
        <result property="account" column="account"></result>
        <result property="pwd" column="pwd"></result>
        <result property="contactInfo" column="contactInfo"></result>
        <result property="infoIntr" column="infoIntr"></result>
        <result property="busiLice" column="busiLice"></result>
        <result property="email" column="email"></result>
        <result property="address" column="address"></result>
        <result property="scale" column="scale"></result>
        <result property="city" column="city"></result>
        <result property="province" column="province"></result>
        <result property="homePage" column="homePage"></result>
        <result property="finanStage" column="finanStage"></result>
        <result property="product" column="product"></result>
        <result property="logo" column="logo"></result>
        <result property="roleId" column="roleId"></result>
        <result property="stateId" column="stateId"></result>
        <association property="states"  javaType="com.cykj.entity.Parameter">
            <id property="paramId" column="paramId"></id>
            <result property="paramName" column="paramName"></result>
            <result property="paramType" column="paramType"></result>
        </association>
    </resultMap>


    <select id="findPhone" resultType="com.cykj.entity.UserInfo">
        select * from userInfo where telephone = #{phone}
    </select>

    <update id="changPasswordByPhone">
        update userInfo set pwd = #{pwd} where telephone = #{phone}
    </update>



</mapper>