<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.mapper.UserInfoMapper">

    <select id="log" resultType="com.cykj.entity.UserInfo">
        select * from userInfo where account = ${account} and pwd = ${pwd}
    </select>

    <select id="adminLog" resultType="com.cykj.entity.BackUser">
        select * from backuser where account = ${account} and pwd = ${pwd}
    </select>

</mapper>